#map {
  height: 300px;
}

.routeInput {
  border-style: solid;
  border-width: thin;
  border-color: #ddd;
  padding: 25px;
  margin-bottom: 0;
}

.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

table {
  border-style: solid;
  border-width: thin;
  border-color: #ddd;
  padding: 2px;
}

table tr td, th {
  padding-left: 5px;
  border-style: solid;
  border-color: #ddd;
  border-bottom: 1px;
  border-width: thin;
  text-align: left;
}
